<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%- blocks.title %></title>
	<!-- <script src="/libs/angular/angular.min.js"></script> -->

	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="/libs/Lato2/latofull.css">

	<%- scripts %>
	<%- stylesheets %>
</head>
<body>
		
	<%- partial('header') %>	
	<%- body %>
	<%- partial('footer') %>

	<style>
		* {
			padding: 0;
			margin: 0;
		}
		html, body {
			height: 100%;
			width: 100%;
			background: #e2e2e2;
		}
		*[ng-click] {
			cursor: pointer;
		}
	</style>
</body>
</html>